* {
    font-family: 'Roboto';
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}

/*//////////*/

nav {
    margin: 3% 6%;
}
.tabs {
    display: flex;
    background: lightgray;
}
.tab {
    flex-grow: 1;
    padding: 1em;
    text-align: center;
}
.tab:hover {
    background: deepskyblue;
    color: white;
}
.social {
    flex-grow: 0;
}

/*//////////*/

@media all and (max-width: 900px){
    .tabs {
        flex-wrap: wrap;
    }
    .tab {
        flex: 1 1 calc(33.33333% - 32px);
    }
    .social {
        flex: 1 1 calc(25% - 32px);
    }
}
@media all and (max-width: 510px){
    .tab {
        flex-basis: calc(50% - 32px);
    }
}
@media all and (max-width: 400px){
    .tabs {
        flex-direction: column;
    }
}