/*----- global -----*/
.container {
    background: lightgray;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.red {
    color: #BB533A;
}
ul {
    padding-left: 0px;
    margin: 0px;
    background: black;
}
li {
    list-style-type: none;
    background: white;
    padding: 1em;
    margin: 1em;
}
.header {
    margin: 0px;
    padding-bottom: 0.50em;
}
.source-code {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


/*----- one -----*/
.one {
    display: flex;
    flex-direction: row;
}

/*----- two -----*/
.two {
    display: flex;
    flex-direction: column;
}

/*----- three -----*/
.three {
    display: flex;
    flex-direction: row-reverse;
}

/*----- four -----*/
.four {
    display: flex;
    flex-direction: column-reverse;
}
