* {
    font-family: 'Roboto';
}
body {
    padding: 2% 15%;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}

/*////////// header //////////*/
.title {
    display: flex;
    background: lightgray;
    margin-bottom: 1.5%;
    justify-content: center;
}
.title h1 {
    text-align: center;
}

/*////////// navbar //////////*/
.navbar {
    margin-bottom: 1.5%;
}
.tabs {
    display: flex;
    background: lightgray;
}
.tab {
    flex-grow: 1;
    padding: 1em;
    text-align: center;
}
.tab:hover {
    background: deepskyblue;
    color: white;
}
.social {
    flex-grow: 0;
}
@media all and (max-width: 900px){
    .tabs {
        flex-wrap: wrap;
    }
    .tab {
        flex: 1 1 calc(33.33333% - 32px);
    }
    .social {
        flex: 1 1 calc(25% - 32px);
    }
}
@media all and (max-width: 510px){
    .tab {
        flex-basis: calc(50% - 32px);
    }
}
@media all and (max-width: 400px){
    .tabs {
        flex-direction: column;
    }
}

/*////////// jumbotron //////////*/
.jumbotron {
    background: lightgray;
    padding: 1.5%;
    margin-bottom: 1.5%;
}
.jumbotron img {
    width: 100%;
    height: auto;
}

/*////////// welcome-description //////////*/
.welcome-desc {
    display: flex;
    background: lightgray;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 1.5%;
    padding: 2em;
}
.welcome-desc p {
    margin: 0px;
    text-align: center;
}
.welcome-desc .focused {
    margin-top: 0.50em;
}

/*////////// form //////////*/
.form {
    display: flex;
    justify-content: center;
    padding: 1em;
    background: lightgray;
    margin-bottom: 1.5%;
}
.form input {
    font-size: 1em;
    margin: 0.15em;
    padding: 0.5em;
}
.form .submit {
    background: black;
    color: white;
}
@media all and (max-width: 750px){
    .form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
