/*----- global -----*/
body {
    background: lightgray;
}
.container {
    background: white;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.red {
    color: #BB533A;
}
.gray {
    color: dimgray;
}
ul {
    padding-left: 0px;
    margin: 0px;
    background: black;
    width: 100%;
}
li {
    list-style-type: none;
    background: white;
    padding: 1em;
    margin: 1em;
}
.header {
    margin: 0px;
    padding-bottom: 0.50em;
}
.source-code {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: space-around;
}
.html {
    margin-right: 1em;
}
.css {
    margin-left: 1em;
}


/*----- one -----*/
.one {
    display: flex;
    flex-direction: row;
}

/*----- two -----*/
.two {
    display: flex;
    flex-direction: column;
}

/*----- three -----*/
.three {
    display: flex;
    flex-direction: row-reverse;
}

/*----- four -----*/
.four {
    display: flex;
    flex-direction: column-reverse;
}

/*----- five -----*/
.five {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

/*----- six -----*/
.six {
    display: flex;
    flex-wrap: wrap;
}

/*----- seven -----*/
.seven {
    display: flex;
    flex-wrap: wrap-reverse;
}

/*----- eight -----*/
.eight {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
}

/*----- nine -----*/
.nine {
    display: flex;
    flex-flow: column wrap;
}

/*----- ten -----*/
.ten {
    display: flex;
    flex-flow: column nowrap;
}

/*----- eleven -----*/
.eleven {
    display: flex;
    justify-content: flex-start;
}

/*----- twelve -----*/
.twelve {
    display: flex;
    justify-content: flex-end;
}

/*----- thirteen -----*/
.thirteen {
    display: flex;
    justify-content: center;
}

/*----- fourteen -----*/
.fourteen {
    display: flex;
    justify-content: space-between;
}

/*----- fifteen -----*/
.fifteen {
    display: flex;
    justify-content: space-around;
}

/*----- sixteen -----*/
.sixteen {
    display: flex;
    height: 300px;
    align-items: stretch;
}

/*----- seventeen -----*/
.seventeen {
    display: flex;
    height: 300px;
    align-items: flex-start;
}

/*----- eighteen -----*/
.eighteen {
    display: flex;
    height: 300px;
    align-items: flex-end;
}

/*----- nineteen -----*/
.nineteen {
    display: flex;
    height: 300px;
    align-items: center;
}

/*----- twenty -----*/
.twenty {
    display: flex;
    height: 300px;
    align-items: baseline;
}

/*----- twenty-one -----*/
.twenty-one {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

/*----- twenty-two -----*/
.twenty-two {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/*----- twenty-three -----*/
.twenty-three {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

/*----- twenty-four -----*/
.twenty-four {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}